fastapi
uvicorn[standard]
python-multipart
PyMuPDF
python-docx
python-pptx
pandas
pillow
pytesseract
requests
pymongo
aiofiles
numpy
python-dotenv
transformers
accelerate
datasets
bitsandbytes
peft
lxml
